:80 {
        # Set this path to your site's directory.
        root * /usr/share/caddy

        # Enable the static file server.
        file_server

        # Another common task is to set up a reverse proxy:
        # reverse_proxy localhost:8080

        # Or serve a PHP site through php-fpm:
        # php_fastcgi localhost:9000
}

https://jf.lankhorst.org {
        header Strict-Transport-Security max-age=31536000;
        reverse_proxy 10.2.20.2:8096
}

https://immich.lankhorst.org {
        header Strict-Transport-Security max-age=31536000;
        reverse_proxy 10.2.20.2:30041
}

https://wishlist.lankhorst.org {
        header Strict-Transport-Security max-age=31536000;
        reverse_proxy 10.2.20.11:3280
}

https://ntfy.lankhorst.org {
        header Strict-Transport-Security max-age=31536000;
        reverse_proxy 10.2.20.11:8080
}

https://auth.lankhorst.org {
        header Strict-Transport-Security max-age=31536000;
        reverse_proxy 10.2.20.11:9000
}
